extends layout

block content
    h1=article.title
    p Posted by 
        a(href="/users/"+article.author) #{article.author}
    p=article.body
    hr
    if user
        if user.username == article.author
            a.btn.btn-default.btn-secondary(href="/articles/edit/"+article._id) Edit
            a.btn.btn-default.btn-danger.delete-article(href='#',data-id=article._id) Delete
    
    if user
        form(method='POST',action="/comments/add/")
            .form-group
                textarea.form-control(name='body')
            .form-group
                input(type='hidden', name = 'postId', value=article._id)
            .form-group
                input(type='hidden', name = 'postTitle', value=article.title)
            input.btn.btn-primary(type='submit', value='Add Comment')
    
    h3 Comments
    ul.list-group
        each comment, i in comments
            li.list-group-item
                p=comment.body
                p by #{comment.username}